.logo img{
	margin: 0 auto;
	display: block;
	height: 35px;
}

body{
	background-color: blue;
}

main{
	display: block;
	border-radius: 3px;
	margin: 0 auto;
	font-family: helvetica;
	background-color: white;
	width: 400px;
	text-align: center;
	font-size: 8pt;
	padding-bottom: 20px;
}

h2{
	/*text-align: center;*/
	padding-top: 20px;
}

form{
	/*background-color: */
	margin: 0 auto;
	padding-right: 40px;
	padding-left: 40px;
	text-align: left;
	font-size: 10pt;
}

input{
	font-size: 12pt;
	width: 286px;
	border: 2px solid lightgray;
	border-radius: 3px;
	padding: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
}

input[type="button"]{
	width: 320px;
	background-color: lightgreen;
	border-color: lightgreen;
	color: white;
	font-weight: bold;
	font-size: 14pt;
	margin-bottom: 4px;
}

input[type="button"]:hover{
	background-color: green;
	border-color: green;
}